<p>Rental confirmation</p>

<li>Owner:       <%= @owner.full_name %></li>
<li>Owner id:    <%= @owner.id %></li>
<li>Renter:      <%= @renter.full_name %></li>
<li>Renter id:   <%= @renter.id %></li>
<li>Place title: <%= @place.title %></li>
<li>Place id:    <%= @place.id %></li>
<li>Check in:    <%= @check_in %></li>
<li>Check out:   <%= @check_out %></li>